<div class= "Search">
<h3 float = "left">Search Variants by Chromosome and Position</h2>
</div class= "Search"> 
        <%= form_tag(:controller => 'gapp',:action => 'search_chr_pos') do %>
		<div class= "Search">
       
           Chromosome: <%= select_tag "chromosome", options_for_select(@chr), :prompt => "Select" %> &nbsp;
           Start: <%= text_field_tag :start_pos %> [e.g. 112431] &nbsp;
           End: <%= text_field_tag :end_pos %> [e.g. 112445] &nbsp;
        <br><br>
           Platform: <%= select_tag "chPlatform", "<option selected=\"selected\">Illumina</option><option>Solid</option>".html_safe %> &nbsp;
           Gene definition: <%= select_tag "chGeneDef", "<option selected=\"selected\">Refseq</option><option>Ensembl</option><option>UCSC/Known</option>".html_safe %>  &nbsp;
           Exonic Function: <%= select_tag "chFunction", "<option selected=\"selected\">Exonic</option><option>Splicing</option><option>Exonic/Splicing</option><option>Intronic</option><option>UTR3</option><option>UTR5</option>".html_safe %>  &nbsp;
        <br><br>
           Allele Frequency: <%= text_field_tag :af %> [e.g. < 0.05, <= 0.05, > 0.05, >= 0.05, = 0.05, != 0.05] &nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag("Search") %>
           </div>
		<% end %>
</div>


<div class= "Search">
<h3 float = "left">Search Variants by Gene</h2>
</div class= "Search">
        <%= form_tag(:controller => 'gapp',:action => 'search_gene') do %>
		<div class= "Search">
           Gene: <%= text_field_tag :gene %> [HGNC approved gene names or Ensembl gene identifiers  e.g. ATM, ENSG00000187634] &nbsp;
        <br><br>
           Platform: <%= select_tag "chPlatform", "<option selected=\"selected\">Illumina</option><option>Solid</option>".html_safe %>  &nbsp;
           Gene definition: <%= select_tag "chGeneDef", "<option selected=\"selected\">Refseq</option><option>Ensembl</option><option>UCSC/Known</option>".html_safe %>  &nbsp;
           Exonic Function: <%= select_tag "chFunction", "<option selected=\"selected\">Exonic</option><option>Splicing</option><option>Exonic/Splicing</option><option>Intronic</option><option>UTR3</option><option>UTR5</option>".html_safe %>  &nbsp;
        <br><br>   
           Allele Frequency: <%= text_field_tag :af %> [e.g. < 0.05, <= 0.05, > 0.05, >= 0.05, = 0.05, != 0.05] &nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag("Search") %>
		</div>
		<% end %>
</div>

<div class = "footer">
	<p>A product of European Geuvadis Consortium | Beta Version</p>
</div>